/* Color roperties */
.ms-bg-secondary {
    background-color: rgb(45, 62, 79);
}

.ms-bg-primary {
    background-color: rgb(41, 187, 156);
}

.text-white {
    color: white;
}

.text-gray {
    color: lightgray;
}

/* Star icon properties */
.ms-line {
    height: 4px;
    min-width: 20%;
    max-width: 70%;

    border-radius: 2px;

    vertical-align: middle;
    margin-bottom: 10px;
}

.ms-jumbotron .ms-line,
.ms-about .ms-line {
    background-color: white;
}

.ms-portfolio .ms-line,
.ms-contact .ms-line {
    background-color: black;
}


/* Styling bottone */
#download-button {
    color: white;
    border-color: white;
}

#download-button:hover {
    color: black;
    border-color: black;

    background-color: white;
}